body {
  color:white;
  font-family: "Lato", sans-serif;
}

.edgebar {
  top:0;
  left:0;
  z-index:1;
  background-color: #111;
  position:fixed;
  overflow:hidden;
  height:45px;
  width:100%;
}

.ban {
  transition:1.5s;
  opacity:0.3;
  top:20%;
  filter: blur(0.75px) drop-shadow(0 0 10px grey);
  position:fixed;
  left:0;
  right:0;
  z-index:-1;
  margin:auto;
  max-height:1080px;
  width:auto;
}

.ban:hover {
  filter: blur(0px) drop-shadow(0 0 10px white);
  transition:1.5s;
  opacity:1;
}

nav {
  height:100%;
  display: flex;
}

nav a:hover {
  transition:0.3s;
  background-color:white;
  border: 1px #111;
  border-radius:3px;
}

nav div{
  line-height:37px;
  padding: 0 3px 0 3px;
}

nav img {
  height:100%;
  width:45px;
  padding: 6px 3px 6px 3px;
}

nav a {
  display:inline-block;
  transition:0.3s;
  text-decoration:none;
  color:grey;
  padding: 3px 3px 3px 3px;
}

.link {
  margin:auto;
  position:absolute;
  left:0;
  right:0;
  bottom:10%;
  box-shadow: 0px 0px 5px grey;
  border:solid grey 3px;
  border-radius:10px;
  overflow:hidden;
  opacity:0.8;
  background-color:#111;
  min-width:300px;
  max-width:75%;
  display:none;
}

.link a {
  padding: 5px 5px 5px 5px;
  transition:0.3s;
  letter-spacing:0.5px;
  color:grey;
  text-align:center;
  text-decoration:none;
  font-size:30px;
}

.link p {
  padding: 0px 15px 0px 15px;
  text-align:left;
}

.link a:hover {
  transition:0.3s;
  text-shadow: 0px 0px 3px grey;
}

.show {
  display:block;
}
